<!DOCTYPE HTML>
<html>
    <head>
        <title>Todo</title>

        <link href="{{static_url('bootstrap.min.css')}}" rel="stylesheet" />
        <link href="{{static_url('styles.css')}}" rel="stylesheet" />
    </head>
    <body>
        <div id="wrapper" class="container">
            <div class="row">
                <div class="span4 offset3 hero-unit">
                    <h1>Tasks</h1>

                    <form method="POST">
                        <input name="body" type="text" class="span4 large" placeholder="What do you want to do?" />
                    </form>

                    <ul id="tasks">
                        {% for task in tasks %}
                        <li>
                            <form action="/tasks/{{task._id}}" method="POST">
                                <input name="done" class="done" type="checkbox" {% if task.done %}checked="checked"{% end %}/>
                                <input type="hidden" name="_method" value="PUT" />
                            </form>

                            <span {% if task.done %}class="done"{% end %}>
                                {{task.body}}
                            </span>

                            <form action="/tasks/{{task._id}}" method="POST">
                                <input name="remove" type="submit" value="&times;" />
                                <input type="hidden" name="_method" value="DELETE" />
                            </form>
                        </li>
                        {% end %}
                    </ul>

                    <p>#{{len(list(x for x in tasks if x.done))}} tasks done.</p>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>
            $(function() {
                $('input:first').focus();

                $('form').submit(function(e) {
                    var form = $(this);

                    e.preventDefault();

                    $.post(form.attr('action'),
                        form.serialize(),
                        function() {
                            window.location.reload();
                        }
                    );
                });

                $('.done').click(function() {
                    $(this).parent('form').submit();
                });
            });
        </script>
    </body>
</html>
