#wrapper {
    margin-top: 75px;
}

#tasks {
    list-style: none;
}

#tasks form {
    display: inline;
}

.done {
    text-decoration: line-through;
}

.large {
    margin-top: 10px;
    height: 35px;
    font-size: 22px;
}
